<clr-header class="header-5">
  <div class="branding">
    <a
      href="#"
      class="nav-link logo"
      [routerLink]="['/mainpage']"
      routerLinkActive="active"
    >
      <clr-icon shape="tasks"></clr-icon>
      <span class="title">Список задач</span>
    </a>
  </div>
  <div class="header-nav">
    <a
      href="#"
      class="nav-link"
      [routerLink]="['/mainpage']"
      routerLinkActive="active"
    >
      <span class="nav-text">
        Задачи
      </span>
    </a>
    <a
      href="#"
      class="nav-link"
      [routerLink]="['/analytics']"
      routerLinkActive="active"
    >
      <span class="nav-text">
        Аналитика
      </span>
    </a>
  </div>
  <div class="header-actions log-out" [clr-nav-level]="1">
    <a class="nav-link" href="" (click)="logout()"><span>Выйти</span></a>
  </div>
</clr-header>
