.clr-control-container {
  width: 100%;
  margin-bottom: 30px;

  .clr-textarea {
    min-width: 100%;
    min-height: 150px;
  }

  .clr-input {
    min-width: 100%;
  }
}

.clr-button-control {
  display: flex;
  justify-content: flex-end;

  .btn {
    margin-right: 6px;
    margin-left: 6px;
  }
}

select {
  width: 140px;
}
