.btn-pos {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 20px;
}

clr-dg-row {
  width: 100%;
}

.clr-grid-container {
  margin-left: 40px;
  margin-right: 40px;

  .row {
    max-height: 49px;
  }

  .col1 {
    // max-width: 7.5vw;
    width: 7.8vw;
  }
  .col2 {
    // max-width: 15vw;
    width: 15vw;
  }
  .col3 {
    // max-width: 30vw;
    width: 35vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col4 {
    // max-width: 10.8vw;
    width: 10.8vw;
  }
  .col5 {
    // max-width: 7.5vw;
    width: 7.8vw;
  }
  .col6 {
    // max-width: 7.5vw;
    width: auto;
  }
}

.label {
  margin: 3px;
}
