<clr-main-container>
  <app-header></app-header>
  <div class="btn-group btn-primary btn-sm btn-pos">
    <button class="btn" (click)="openModal('new-card-modal')"><clr-icon shape="plus"></clr-icon> Добавить</button>
    <button class="btn" (click)="onDelete()" *ngIf="selected.length == 1">
      <clr-icon shape="pencil"></clr-icon> Изменить
    </button>
    <button class="btn btn-danger" (click)="onEdit()" *ngIf="selected.length > 0">
      <clr-icon shape="close"></clr-icon> Удалить
    </button>
  </div>
  <div class="clr-grid-container">
    <clr-datagrid [(clrDgSelected)]="selected">
      <clr-dg-column class="col1">
        <ng-container *clrDgHideableColumn="{ hidden: false }">Дата создания</ng-container>
      </clr-dg-column>
      <clr-dg-column class="col2" [clrDgField]="'name'">
        <ng-container *clrDgHideableColumn="{ hidden: false }">Тема</ng-container>
      </clr-dg-column>
      <clr-dg-column class="col3" [clrDgField]="'desc'">
        <ng-container *clrDgHideableColumn="{ hidden: false }">Описание</ng-container>
      </clr-dg-column>
      <clr-dg-column class="col4">
        <ng-container *clrDgHideableColumn="{ hidden: false }">Метки</ng-container>
      </clr-dg-column>
      <clr-dg-column class="col5">
        <ng-container *clrDgHideableColumn="{ hidden: false }">Срок исполнения</ng-container>
      </clr-dg-column>
      <clr-dg-column class="col6">
        <ng-container *clrDgHideableColumn="{ hidden: false }">Ответственный</ng-container>
      </clr-dg-column>

      <clr-dg-row *clrDgItems="let card of cards" [clrDgItem]="card" class="row q1">
        <clr-dg-cell class="col1">
          {{ formatDate(card.actions[0].date) }}
        </clr-dg-cell>
        <clr-dg-cell class="col2">
          {{ card.name }}
        </clr-dg-cell>
        <clr-dg-cell class="col3">
          {{ card.desc }}
        </clr-dg-cell>
        <clr-dg-cell class="col4">
          <span *ngFor="let label of card.labels" [style.background-color]="label.color" class="label label-info">
            {{ label.name }}
          </span>
        </clr-dg-cell>
        <clr-dg-cell class="col5">
          <div [ngSwitch]="card.due == null">
            <div *ngSwitchCase="true">Не назначенно</div>
            <div *ngSwitchCase="false">{{ formatDate(card.due) }}</div>
            <div *ngSwitchDefault>Не известно</div>
          </div>
        </clr-dg-cell>
        <clr-dg-cell class="col6">
          <span *ngFor="let member of card.members; let i = index">
            {{ member.fullName }}<span *ngIf="i != card.members.length - 1">,</span>
          </span>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Users per page</clr-dg-page-size>
          {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} cards
        </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
  <app-modal-window id="new-card-modal">
    <app-new-card-modal-window [modalWindowName]="'new-card-modal'"></app-new-card-modal-window>
  </app-modal-window>
</clr-main-container>
