<clr-datagrid
  *ngIf="board"
  [(clrDgSelected)]="selected"
  (clrDgSelectedChange)="sendSelected($event)"
  [clrDgLoading]="loading"
>
  <clr-dg-column [style.flex-grow]="1">
    Созданно
    <clr-dg-string-filter
      [clrDgStringFilter]="creationDateFilter"
    ></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'name'" [style.flex-grow]="2">
    Название
  </clr-dg-column>
  <clr-dg-column [style.flex-grow]="1">
    Статус
  </clr-dg-column>
  <clr-dg-column [style.flex-grow]="1">
    Приоритет
    <clr-dg-string-filter
      [clrDgStringFilter]="labelFilter"
    ></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [style.flex-grow]="1">
    Срок выполнения
    <clr-dg-string-filter
      [clrDgStringFilter]="deadlineFilter"
    ></clr-dg-string-filter>
  </clr-dg-column>
  <clr-dg-column [style.flex-grow]="1">
    Исполнитель
    <clr-dg-string-filter
      [clrDgStringFilter]="assignedPersonFilter"
    ></clr-dg-string-filter>
  </clr-dg-column>

  <clr-dg-placeholder>We couldn't find any data!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let card of board" [clrDgItem]="card">
    <clr-dg-cell>
      <ng-container [ngSwitch]="card.actions.length === 0">
        <span *ngSwitchCase="true">Не известно</span>
        <span *ngSwitchCase="false">{{
          card.actions[0].date | date: "MMMM dd, HH:mm"
        }}</span>
        <span *ngSwitchDefault>Не известно</span>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-cell [style.flex-grow]="2">
      <span>
        {{ card.name }}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span>
        {{ findListName(card) }}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <span *ngFor="let label of card.labels">
        {{ slicePriority(label.name) }}
      </span>
    </clr-dg-cell>
    <clr-dg-cell>
      <ng-container [ngSwitch]="card.due === null">
        <span *ngSwitchCase="true">Не назначено</span>
        <span *ngSwitchCase="false">
          {{ card.due | date: "MMMM dd, HH:mm" }}
        </span>
        <span *ngSwitchDefault>Не назначено</span>
      </ng-container>
    </clr-dg-cell>
    <clr-dg-cell>
      <ng-container [ngSwitch]="card.members.length === 0">
        <span *ngSwitchCase="true">Не назначены</span>
        <span *ngSwitchCase="false"
          ><span *ngFor="let member of card.members; let i = index">
            <span>
              {{ member.fullName }}
              <span *ngIf="i != card.members.length - 1">, </span>
            </span>
          </span>
        </span>
        <span *ngSwitchDefault>Не назначены</span>
      </ng-container>
    </clr-dg-cell>

    <clr-dg-row-detail *clrIfExpanded>
      <span>
        {{ card.desc }}<br />
        <ng-container *ngFor="let img of card.attachments">
          <img src="{{ img.url }}" alt="" style="width: 112px; height: 80px" />
        </ng-container>
      </span>
    </clr-dg-row-detail>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Users per page</clr-dg-page-size
      >
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} cards
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<ng-template #spinner>
  <span class="spinner spinner-inline">
    Loading...
  </span>
  <span>
    Loading...
  </span>
</ng-template>
